@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@font-face {
  font-family: "Proxima Nova Regular";
  src: url(../font/proxima-nova-regular.eot) format("eot"),
    url(../font/proxima-nova-regular.woff) format("woff"),
    url(../font/proxima-nova-regular.woff2) format("woff2"),
    url(../font/proxima-nova-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: url(../font/proxima-nova-regular-italic.eot) format("eot"),
    url(../font/proxima-nova-regular-italic.woff) format("woff"),
    url(../font/proxima-nova-regular-italic.woff2) format("woff2"),
    url(../font/proxima-nova-regular-italic.otf) format("opentype");
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../font/proxima-nova-semibold.eot) format("eot"),
    url(../font/proxima-nova-semibold.woff) format("woff"),
    url(../font/proxima-nova-semibold.woff2) format("woff2"),
    url(../font/proxima-nova-semibold.ttf) format("truetype");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../font/proxima-nova-bold.eot) format("eot"),
    url(../font/proxima-nova-bold.woff) format("woff"),
    url(../font/proxima-nova-bold.woff2) format("woff2"),
    url(../font/proxima-nova-bold.otf) format("opentype");
}
@font-face {
  font-family: "Gilroy Extrabold";
  src: url(../font/gilroy-extrabold.eot) format("eot"),
    url(../font/gilroy-extrabold.woff) format("woff"),
    url(../font/gilroy-extrabold.woff2) format("woff2"),
    url(../font/gilroy-extrabold.otf) format("opentype");
}
@font-face {
  font-family: "Gilroy Bold";
  src: url(../font/gilroyabold.eot) format("eot"),
    url(../font/gilroy-bold.woff) format("woff"),
    url(../font/gilroy-bold.woff2) format("woff2"),
    url(../font/gilroy-bold.otf) format("opentype");
}
@font-face {
  font-family: "Bebas Neue Regular";
  src: url(../font/bebas-neue-regular.eot) format("eot"),
    url(../font/bebas-neue-regular.woff) format("woff"),
    url(../font/bebas-neue-regular.woff2) format("woff2"),
    url(../font/bebas-neue-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Bebas Neue Bold";
  src: url(../font/bebas-neue-bold.eot) format("eot"),
    url(../font/bebas-neue-bold.woff) format("woff"),
    url(../font/bebas-neue-bold.woff2) format("woff2"),
    url(../font/bebas-neue-bold.otf) format("opentype");
}
